{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="mb-3 p-3 text-white">Venez réserver votre Hotel chez LuxeHotel</h3>

    <div class="row">

<!-- Debut Ligne n°1 -->
        <!-- Box n°1 -->
        <div class="col-lg-3">
            <div class="card shadow mb-4" style="width: 15rem;">
                <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/363356401.jpg?k=41f98f90ac8229e09d7c8e5cc3cb15ac8fb3cba853d5c8c644ae5f6c7bc0ef6c&o=" 
                class="card-img-top" alt="MODE GRATUIT ENAO BAIN AAA" width="150px" height="150px">
                <div class="card-body">
                  <h5 class="card-title">Hôtel Colbert - Spa & Casino</h5>
                  <p class="card-text">A distance à pied il y a les curiosités populaires: Tana Water Front.
                    L'aéroport d'Ivato est situé à 13,1 km de l'hôtel.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- Box n°2 -->
        <div class="col-lg-3">
            <div class="card shadow mb-4" style="width: 15rem;">
                <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/339014001.jpg?k=497c93f81a28635c673e8108aa0ffc0b3b27cb0040f6323d40502651c2ccc1a3&o=" 
                class="card-img-top" alt="MODE GRATUIT ENAO BAIN AAA" width="150px" height="150px">
                <div class="card-body">
                  <h5 class="card-title">Le Louvre Hotel & Spa</h5>
                  <p class="card-text">Ces attractions sont situées à distance à pied: Tsimbazaza Zoo.
                     L'aéroport d'Ivato se trouve à 13 km de l'hôtel.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- Box n°3 -->
        <div class="col-lg-3">
            <div class="card shadow mb-4" style="width: 15rem;">
                <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/328721743.jpg?k=663f05a1aa362d31291c09b464d9bef31b482f30026ceb4fe60560f6691a3a03&o=" 
                class="card-img-top" alt="MODE GRATUIT ENAO BAIN AAA" width="150px" height="150px">
                <div class="card-body">
                  <h5 class="card-title">Maisons d'hôtes</h5>
                  <p class="card-text">L'hôtel est adapté pour détente au SPA, 
                    pour les touristes désirant faire des excursions de ville.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- Box n°4 -->
        <div class="col-lg-3">
            <div class="card shadow mb-4" style="width: 15rem;">
                <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/354416335.jpg?k=e5a5e3e74bded758fcd2dc1d844e2939408e6b2850042c86f41d4cb2b5275d11&o=" 
                class="card-img-top" alt="MODE GRATUIT ENAO BAIN AAA" width="150px" height="150px">
                <div class="card-body">
                  <h5 class="card-title">Le Grand Mellis Hôtel & Spa</h5>
                  <p class="card-text">A proximité se trouvent ces attractions: Tsimbazaza Zoo.
                    L'aéroport d'Ivato est residé à 12,5 km de l'hôtel.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
<!-- Fin Ligne n°1 -->



{% endblock %}